.form {
	animation: zoomIn .1s 1;
}

.hidden-mobile {
	@media screen and (max-width: 768px) {
		& {
			display: none;
		}
	}
}

.icon {
	display: inline-block;
}

.toast {
	padding: .5rem !important;
	border-radius: .5rem !important;
}
.toast-error {
	background: #ff304f !important;
}
.toast-success {
	background: #00cc74 !important;
}

@keyframes wave {
	0% {
		transform: rotate(0.0deg);
	}
	10% {
		transform: rotate(14.0deg);
	}
	20% {
		transform: rotate(-8.0deg);
	}
	30% {
		transform: rotate(14.0deg);
	}
	40% {
		transform: rotate(-4.0deg);
	}
	50% {
		transform: rotate(10.0deg);
	}
	60% {
		transform: rotate(0.0deg);
	}
	100% {
		transform: rotate(0.0deg);
	}
}
.wave {
	animation: wave 2.5s 3;
}

@keyframes zoomIn {
	from {
		opacity: 0;
		transform: scale3d(0.3, 0.3, 0.3);
	}

	50% {
		opacity: 1;
	}
}
