.wrapper {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: space-between;
	height: 100vh;
	color: #ffffff;
	overflow: hidden;
}

.container {
	display: flex;
	flex-direction: column;
	animation: zoomIn .25s 1;

	.nav {
		display: flex;
		align-items: center;
		justify-content: center;
		color: white;
		margin-bottom: .5rem;
		user-select: none;

		.item {
			color: inherit;
			opacity: .35;
			text-decoration: none;
			cursor: pointer;
			text-align: center;
			margin: 0 .5rem;

			&:hover {
				opacity: .75;
				text-decoration: underline;
			}
		}

		.selected {
			opacity: 1;
			text-decoration: underline;
		}
	}
}

.bar {
	display: flex;
	justify-content: space-between;
	padding: .25rem;
}
.link {
	cursor: pointer;
	&:hover {
		text-decoration: underline;
	}
}
