@font-face {
	font-family: 'JetBrains Mono';
	src: url('https://raw.githubusercontent.com/JetBrains/JetBrainsMono/master/web/eot/JetBrainsMono-Regular.eot')
			format('embedded-opentype'),
		url('https://raw.githubusercontent.com/JetBrains/JetBrainsMono/master/web/woff2/JetBrainsMono-Regular.woff2')
			format('woff2'),
		url('https://raw.githubusercontent.com/JetBrains/JetBrainsMono/master/web/woff/JetBrainsMono-Regular.woff')
			format('woff'),
		url('https://raw.githubusercontent.com/JetBrains/JetBrainsMono/master/ttf/JetBrainsMono-Regular.ttf')
			format('truetype');
	font-weight: normal;
	font-style: normal;
}

*,
*::before,
*::after {
	box-sizing: border-box;
	user-select: none;
}

html,
body {
	margin: 0;
	padding: 0;
	height: 100%;
	line-height: 1.6;
	box-sizing: border-box;
	text-rendering: optimizeLegibility;
	font-family: 'JetBrains Mono';
	background: #191b25;
	overflow-x: hidden;
}

h1,
h2,
p {
	margin: 0;
}

// Global

.form {
	animation: zoomIn .1s 1;
}

.hidden-mobile {
	@media screen and (max-width: 768px) {
		& {
			display: none;
		}
	}
}

.icon {
	display: inline-block;
}

.toast {
	padding: .5rem !important;
	border-radius: .5rem !important;
}
.toast-error {
	background: #ff304f !important;
}
.toast-success {
	background: #00cc74 !important;
}

@keyframes wave {
	0% {
		transform: rotate(0.0deg);
	}
	10% {
		transform: rotate(14.0deg);
	}
	20% {
		transform: rotate(-8.0deg);
	}
	30% {
		transform: rotate(14.0deg);
	}
	40% {
		transform: rotate(-4.0deg);
	}
	50% {
		transform: rotate(10.0deg);
	}
	60% {
		transform: rotate(0.0deg);
	}
	100% {
		transform: rotate(0.0deg);
	}
}
.wave {
	animation: wave 2.5s 3;
}

@keyframes zoomIn {
	from {
		opacity: 0;
		transform: scale3d(0.3, 0.3, 0.3);
	}

	50% {
		opacity: 1;
	}
}

@keyframes tada {
	from {
		transform: scale3d(1, 1, 1);
	}
	10%,
	20% {
		transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
	}
	30%,
	50%,
	70%,
	90% {
		transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
	}
	40%,
	60%,
	80% {
		transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
	}
	to {
		transform: scale3d(1, 1, 1);
	}
}

@keyframes bounceInDown {
	from,
	60%,
	75%,
	90%,
	to {
		animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
	}

	0% {
		opacity: 0;
		transform: translate3d(0, -3000px, 0) scaleY(3);
	}

	60% {
		opacity: 1;
		transform: translate3d(0, 25px, 0) scaleY(0.9);
	}

	75% {
		transform: translate3d(0, -10px, 0) scaleY(0.95);
	}

	90% {
		transform: translate3d(0, 5px, 0) scaleY(0.985);
	}

	to {
		transform: translate3d(0, 0, 0);
	}
}

@keyframes fade-in {
	0% {
		opacity: 0;
		transform: scale(0);
	}
	50% {
		opacity: 0.5;
		transform: scale(0.5);
	}
	100% {
		opacity: 1;
		transform: scale(1);
	}
}
